.sidebar {
    width: 380px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #eaeaea;
    padding: 8px 20px;
  }
  
.sidebar-title {
  padding: 12px 0px;
  margin: 0 0 4px 0;
}

.sidebar-title h1 {
  font-size: xx-large;
  font-weight: normal;
  white-space: normal;
  overflow-wrap: break-word;
  margin: 0;
}