.language-mapping {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.map-container {
  border: 12px solid #0e2805;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 8px 20px;
}

.help-button {
  position: fixed; 
  bottom: 20px;
  left: 20px;
  background-color: white;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 0;
  border: black 2px solid;
}

.help-button img {
  width: 32px;
  height: 32px;
}

.help-button:hover {
  background-color: #e0e0e0;
}