.language-mapping {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  height: 100vh;
}

.language-mapping-container {
  display: flex;
  flex: 1;
  height: auto;
}
