.language-mapping {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  overflow: visible;
}

.map-container {
  border: 12px solid #0e2805;
  position: relative;
  z-index: 0;
  overflow: visible;
}

.sidebar-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 8px 20px;
  overflow: visible;
}
