.header {
    padding: 4px 8px;
    background-color: #E2D4D4;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
}

h1 {
  font-weight: normal;
  font-size: x-large;
  padding: 2px 8px;
}
  