.search {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
}

.search-container {
    z-index: 9999;
    position: relative;
    margin-left: auto;
    width: 50%;
    box-sizing: border-box;
}

.search-input {
    z-index: 9999;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.search-input:focus {
    outline: none;
}

.search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 6px;
    transition: background-color 0.2s ease;
}

.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 9999;
    list-style: none;
    padding: 0;
    margin: 0;
  }

.search-dropdown-item {
    padding: 10px;
    cursor: pointer;
    z-index: 9999;
}
  
.search-dropdown-item:hover {
    background-color: #f0f0f0;
}